.features{
    margin-bottom: 10rem;
    &__cards{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-gap: 1rem;
       .card{
           width: 100%;
           position: relative;
           img{
               width: 100%;
           }
           p{
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translate(-50%,0);
            font-size: 30px;
            color: #fff;
            width: 80%;
            margin: 0 auto;
           }
       }
    }
}



@media (max-width:768px){
    .features{
        &__cards{
          display: block;
          width: 98%;
          margin: 3rem auto;
           .card{
               margin-bottom: 1rem;
               p{
                font-size: 24px;
                width: 100%;
                text-align: center;
               }
           }
        }
    }
}