.services{

    margin-bottom: 10rem;
    &__cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;

        .card{
            border: 1px solid #E5EAF4;
            padding: 2rem;
            border-radius: 5px;
            .icon{
                width: 55px;
                height: 55px;
                border: 1px solid #E5EAF4;
                border-radius: 5px;
                display: grid;
                place-items: center;
                margin-bottom: 1rem;
            }
            .header{
                margin-bottom: 1rem;
                p{
                    font-size: 24px;
                    color:$secondary_color;
                }
            }

            .content{
                margin-bottom: 1rem;
                p{
                    font-size: 1rem;
                    width: 80%;
                    line-height: 1.5;
                }
            }

            
        }
    }
}



@media (max-width:960px){
    .services{
        &__cards{
            grid-template-columns: repeat(2,1fr);    
            .card{
                .header{
                    margin-bottom: 1rem;
                    p{
                        font-size: 20px;
                    }
                }    
            }
        }
    }
    
}
@media (max-width:768px){
    .services{
        &__cards{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
            width: 100%;
            .card{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                .content{
                    p{
                        width: 100%;
                    }
                }
                .header{
                    p{
                        font-size: 18px;
                    }
                }    
            }
        }
    }
    
}